{% extends "pages/base.html" %}
{%load static %}

{% block content %}

<div class="shap_big_2 d-none d-lg-block Another_shap_big">
    <img src="{% static 'seogo/img/ilstrator/big.png' %}" alt="">
</div>
<!-- bradcam_area  -->
<div class="bradcam_area">
    <div class="bradcam_shap">
        <img src="{% static 'img/ilstrator/bradcam_ils.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Services</h3>
                    <nav class="brad_cam_lists">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'base' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<!-- service_area  -->
<div class="service_area minus_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/seo_1.svg' %}" alt="">
                    </div>
                    <h3>SEO/SEM</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing
                        drawing.</p>
                    <a href="#" class="boxed-btn3-text">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/seo_2.svg' %}" alt="">
                    </div>
                    <h3>Digital Marketing</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing
                        drawing.</p>
                    <a href="#" class="boxed-btn3-text">Learn More</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/seo_3.svg' %}" alt="">
                    </div>
                    <h3>Social Media</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing
                        drawing.</p>
                    <a href="#" class="boxed-btn3-text">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/ service_area  -->

<!-- features_area  -->
<div class="features_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center">
                    <h3>We have some awesome features <br>
                        to rank your business</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or <br> picture placing
                        drawing. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_1.svg' %}" alt="">
                    </div>
                    <h4>Custom design</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_2.svg' %}" alt="">
                    </div>
                    <h4>Paid Search result</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_3.svg' %}" alt="">
                    </div>
                    <h4>Global Search option</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_4.svg' %}" alt="">
                    </div>
                    <h4>Email Marketing</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_5.svg' %}" alt="">
                    </div>
                    <h4>Custom Software</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="{% static 'seogo/img/svg_icon/feature_6.svg' %}" alt="">
                    </div>
                    <h4>Setup business goal</h4>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ features_area  -->

<!-- testimonial_area  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="{% static 'seogo/img/testmonial/quote.svg' %}" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="{% static 'seogo/img/testmonial/thumb.png' %}" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="{% static 'seogo/img/testmonial/quote.svg' %}" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="{% static 'seogo/img/testmonial/thumb.png' %}" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="{% static 'seogo/img/testmonial/quote.svg' %}" alt="">
                            </div>
                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. <br>
                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="{% static 'seogo/img/testmonial/thumb.png' %}" alt="">
                                </div>
                                <h3>Robert Thomson</h3>
                                <span>Business Owner</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->
{% endblock content %}